html,body{
    height:100%;
    width:100%;
}

.header{
    background-color:#f4f4f4;
}
.header a{
    font-size:16px;
}
.welcome{
    float:left;
    padding:10px 0 10px;
}
.login-btn{
    float: left;
    padding:10px 0 10px;
}

.left-bar{

}